<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/contact.css">
</head>

<body class="d-flex h-100 text-center text-white bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="mb-auto">
          <div>
            <h3 class="float-md-start mb-0">CRM Clothes</h3>
            <nav class="nav nav-masthead justify-content-center float-md-end">
              <a class="nav-link" href="/">Inicio</a>
              <a class="nav-link active" aria-current="page" href="/contact">Contacto</a>
              <a class="nav-link" href="/login">login</a>
            </nav>
          </div>
        </header>

        <main class="px-3">

            <link href="#" rel="stylesheet" id="bootstrap-css">
                <script src="#"></script>
                <script src="#"></script>
<!------ Include the above in your HEAD tag ---------->

  <!-- Contact Us Section -->
            <section class="checkbox mb-3 text-white">
                <div class="row px-3">
                    <div class="text-md-start">
                        <h1>Love to Hear From You</h1>
                    </div>
                
                    <!-- Section Titile -->
                    <div class="text-md-start col-md-6 mt-3 contact-widget-section2 wow animated fadeInLeft" data-wow-delay=".2s">
                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using Content.</p>

                        <div class="find-widget">
                        Company:  <a href="https://imaster.academy/login/index.php">MisionTic</a>
                        </div>
                        <div class="find-widget">
                        Address: <a href="https://www.utp.edu.co/">UTP</a>
                        </div>
                        <div class="find-widget">
                        Phone:  <a href="#">+ 879-890-9767</a>
                        </div>
                        
                        <div class="find-widget">
                        Website:  <a href="#">www.uny.ro</a>
                        </div>
                        <div class="find-widget">
                        Program: <a href="#">Mon to Sat: 09:30 AM - 10.30 PM</a>
                        </div>
                    </div>
                    <!-- contact form -->
                    <div class="col-md-6 wow animated fadeInRight" data-wow-delay=".2s">
                        <form class="shake" role="form" method="post" id="contactForm" name="contact-form" data-toggle="validator">
                            <!-- Name -->
                            <div class="form-group label-floating">
                                <label class="control-label" for="name">Name</label>
                                <input class="form-control" id="name" type="text" name="name" required data-error="Please enter your name">
                                <div class="help-block with-errors"></div>
                            </div>
                            <!-- email -->
                            <div class="form-group label-floating">
                                <label class="control-label" for="email">Email</label>
                                <input class="form-control" id="email" type="email" name="email" required data-error="Please enter your Email">
                                <div class="help-block with-errors"></div>
                            </div>
                            <!-- Subject -->
                            <div class="form-group label-floating">
                                <label class="control-label">Subject</label>
                                <input class="form-control" id="msg_subject" type="text" name="subject" required data-error="Please enter your message subject">
                                <div class="help-block with-errors"></div>
                            </div>
                            <!-- Message -->
                            <div class="form-group label-floating">
                                <label for="message" class="control-label">Message</label>
                                <textarea class="form-control" rows="3" id="message" name="message" required data-error="Write your message"></textarea>
                                <div class="help-block with-errors"></div>
                            </div>
                            <!-- Form Submit -->
                            <div class="form-submit mt-5">
                                <button class="btn btn-common" type="submit" id="form-submit"><i class="material-icons mdi mdi-message-outline"></i> Send Message</button>
                                <div id="msgSubmit" class="h3 text-center hidden"></div>
                                <div class="clearfix"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </main>

        <footer class="mt-auto text-white-50">
            <p>Desarrollado por <a href="mailto:die60ka@gmail.com">Diego Carrrasco</a></p>
            <p>Proyecto <a href="https://imaster.academy/" class="text-white">Ciclo 3</a>, por <a href="https://twitter.com/die60ka?t=NEI8YwOW0rCaBUIM_V2B0Q&s=08" class="text-white">@die60ka</a>.</p>
        </footer>
    </div>
</body>
</html>