<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRM Clothes</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/index.css">
</head>

<body class="d-flex h-100 text-center text-white bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="mb-auto">
          <div>
            <h3 class="float-md-start mb-0">CRM Clothes</h3>
            <nav class="nav nav-masthead justify-content-center float-md-end">
              <a class="nav-link active" aria-current="page" href="/">Inicio</a>
              <a class="nav-link" href="/contact">Contacto</a>
              <a class="nav-link" href="/login">login</a>
            </nav>
          </div>
        </header>
      
        <main class="px-3">
          <h1>CRM Clothes</h1>
          <p class="lead">La experiencia que proporciona nuestro CRM ofrece un acercamiento 
            con nuestros clientes, por medio de esta plataforma se brinda un 
            análisis detallado y administrado a cada interacción que realizan cada usuario, 
            anticipando las necesidades y deseos de cada uno, optimizando la rentabilidad y 
            personalizando la atención que se brinda a cada uno.</p>
          <p class="lead">
            <a href="login" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Login</a>
          </p>
        </main>
      
        <footer class="mt-auto text-white-50">
          <p>Desarrollado por <a href="mailto:die60ka@gmail.com">Diego Carrrasco</a></p>
          <p>Proyecto <a href="https://imaster.academy/" class="text-white">Ciclo 3</a>, por <a href="https://twitter.com/die60ka?t=NEI8YwOW0rCaBUIM_V2B0Q&s=08" class="text-white">@die60ka</a>.</p>
      </footer>
    </div>
</body>
</html>